// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.form-control, input.form-control:focus, 
textarea.form-control, textarea.form-control:focus,
select.form-control, select.form-control:focus {
  border-width: 2px;
  box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}