// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

html, body {
  font-family: 'Droid Serif', serif;
}

h1 {
  margin-top: 5px;
}