<div class="footer">
  <div class="container text-right">
    <hr>
    Developed in Cupertino, CA © 2014 <a href="http://skalabletech.com">Skalable</a><br>
  </div>
</div>

<style type="">
hr {
  margin:12px;
}
</style>