<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Project Flowable', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="#"><i class="fa fa-pencil fa-lg"></i>Create</a></li>
          <li><a href="#"><i class="fa fa-th-list fa-lg"></i>View</a></li>
          <li><a href="#"><i class="fa fa-cogs fa-lg"></i>Settings</a></li>
<!--           <%= link_to destroy_user_session_path do %>
            <i class="fa fa-sign-out fa-lg"></i>
          <% end -%>
 -->        <% else %>
<!--         <li>
          <%= link_to new_user_session_path, class: 'btn btn-primary' do %>
            <i class="fa fa-sign-in fa-lg"></i>Sign up!
          <% end -%>
        </li> -->
        <% end -%>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>